* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#heart {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.word {
    position: absolute;
    color: #ffb6d5;
    font-size: 14px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    pointer-events: none;
    text-shadow: 0 0 5px #fff, 0 0 10px #ff69b4, 0 0 20px #ff69b4, 0 0 40px #ff69b4;
}
.petal{
    position:absolute;
    top:-50px;

    color:#ffc0cb;

    font-size:24px;

    pointer-events:none;

    animation-name:fall;
    animation-timing-function:linear;
    animation-iteration-count:infinite;

    opacity:0.8;
}

@keyframes fall{

    0%{
        transform:
        translateY(-50px)
        translateX(0px)
        rotate(0deg);

        opacity:0;
    }

    10%{
        opacity:1;
    }

    100%{
        transform:
        translateY(110vh)
        translateX(150px)
        rotate(720deg);

        opacity:0;
    }
}
